spring:
  application:
    name: payment-service
  data:
    mongodb:
      uri: ${PAYMENT_MONGO_URI:mongodb://localhost:27017/paymentdb}
      auto-index-creation: true
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USER:guest}
    password: ${RABBITMQ_PASSWORD:guest}
server:
  port: ${PAYMENT_SERVICE_PORT:8082}
logging:
  level:
    root: INFO

